body {
  cursor: default;
  margin: 0;
  width: 400px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
}

h3 {
  background: #C0D7E0;
  margin: 0;
  padding: 0 10px;
}

h3:first-child {
  margin-top: 0;
}

h4 {
  -webkit-margin-after: 0;
}

.view-container {
  background: #fff;
  margin: 12px;
}

.centered-content {
  text-align: center;
}

.centered-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 8px auto 0 auto;
  width: 80%;
}

.centered-form > * {
  margin: 2px 0;
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
}

.header-accepted {
  background: rgb(103, 210, 103);
}

.header-pending {
  background: orange;
}

.header-error {
  background: #F93A3A;
}

/* Login view */

.login-mode {
  cursor: pointer;
}

.login-mode:hover {
  background-color: #eee;
}

.stable-icon {
  background: url('images/stable.png') 5px center no-repeat;
  padding: 6px;
  text-indent: 20px;
}

.dev-icon {
  background: url('images/dev.png') 5px center no-repeat;
  padding: 6px;
  text-indent: 20px;
}

#error-text {
  color: red;
}

.loader {
  align-items: center;
  display: flex;
  min-height: 200px;
  height: 100%;
  justify-content: center;
}

.loader.floating {
  background: rgba(255, 255, 255, .6);
  left: 0;
  min-height: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Main view */

.review {
  padding: 6px 10px;
  transition: background-color 2s;
}

.review-link {
  flex-grow: 1;
}

.link {
  color: blue;
  cursor: pointer;
  outline: none;
}

.link:hover {
  color: hsla(39,70%,50%,1);
}

.gray {
  color: gray;
}

.black {
  color: black;
}

.progress {
  background-color: #E6E6E6;
  background-image: linear-gradient(to right, #3D8C00 0, #3D8C00 100%);
  background-repeat: no-repeat;
  display: block;
  height: 1px;
  width: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grow {
  flex-grow: 1;
}

.first-review-line,
.second-review-line {
  display: flex;
}

.second-review-line {
  color: gray;
  justify-content: space-between;
}

.second-review-line > *:nth-child(1),
.second-review-line > *:nth-child(3) {
  width: 20%;
}

.second-review-line > *:nth-child(3) {
  text-align: right;
}

.owner-name {
  cursor: pointer;
}

.owner-name:hover {
  color: #333;
}

.line-count, .unread-count {
  float: right;
  margin-left: 1em;
  transition: background-color 2s;
  white-space: nowrap;
}

.review.highlight,
.line-count.highlight,
.unread-count.highlight {
  background-color: yellow;
}

/* Settings view */

#settings-view > div {
  padding: 10px;
}

#settings-view label {
  display: block;
}
